
.header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 12;
    background-color: $light__green;
    box-shadow: 0px 5px 5px -3px rgba(48, 84, 99, 0.75),
                0px 10px 10px -3px rgba(151, 165, 173, 0.75);
}

.header__container {
    width: 90%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    .burger__icon-btn {
        display: none;
    }

    .header__nav-menu {
        width: 45%;
        
    }
}

 .menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    .menu-link {
        position: relative;
        cursor: pointer;

        & a {
            font-family: 'Roboto', 'OpenSans';
            color: $color__main;
            font-size: 20px;
            cursor: pointer;
            transition: ease .7s;
        
            &:hover {
                color: $color__main-hover-h3;
            }
        }

        &.active .sub-menu {
            opacity: 1;
            transition: ease 1s;
        }

        &.active .menu-arrow::before {
            transform: rotate(180deg);
            background-color: $color__main-hover-h3;
        }

        &.active .menu-arrow::after {
            background-color: $color__main-hover-h3;
        }
    }

    & li:last-child {
        padding-right: 0;
    }

    .sub-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #F1F1F1;
        min-width: 150px;
        list-style-type: none;
        padding-top: 5px;
        opacity: 0;
        box-shadow: $shadow_menu;

        .sub-link {
            width: 100%;

            & > a {
                display: inline-flex;
                font-size: 18px;
                padding: 5px 10px;
                transition: ease 1s;
            }

            &:hover {
                background-color: #dfeaef;
            }

            &:first-child {
                border-top: 3px solid $color__main-hover-h3;
            }
        }
    }
}

.menu-arrow {
    display: inline-flex;

    &::after, &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #323264;
        right: -23px;
        top: 50%
    }

    &::before {
        transform: rotate(90deg);
        transition: ease .7s;
    }
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    padding: 5px 12px;
    font-family: 'Roboto', 'OpenSans';
    color: $color__main;
    transition-duration: .7s;

    .cart__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 50px;
        background-color: $color__main;
        margin-right: 10px;
        cursor: pointer;
    }

    p {
        font-size: 17px;
        line-height: 28px;
        padding-right: 8px;
    }

    span {
        font-size: 18px;
    }

    &:hover {
        box-shadow: $shadow_hover;
    }
}


@media (max-width: 1024px) {
    .header {
        justify-content: space-between;
    }

    .wrapper {
        padding: 0;
    }

    .header__container {
        padding: 5px 20px;
        margin: 0;
        width: 100%;

        .header__nav-menu {
            width: 55%;
        }
    }
}

@media (max-width: 768px) {
    .header.open .menu-list {
        transform: translateX(100%);
    }

    .header__container {
        .burger__icon-btn {
            display: block;
            position: relative;
            width: 39px;
            height: 39px;
            border: none;
            z-index: 20;
            background-color: transparent;
            
    
            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 30px;
                background-color: $color__main;
                left: 5px;
                transition: transform .5s, opacity .5s, background-color .5s;

                &:nth-child(1) {
                    transform: translateY(-10px);
                }

                &:nth-child(3) {
                    transform: translateY(10px);
                }
            }
        }
    }

    .header.open .burger__icon-btn span {
        background-color: $color__main-hover-h3;
    }

    .header.open .burger__icon-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open .burger__icon-btn span:nth-child(2) {
        opacity: 0;

    }

    .header.open .burger__icon-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .menu-list {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #F1F1F1;
        width: 250px;
        left: -250px;
        flex-direction: column;
        padding: 75px 0 20px 25px;
        transition: transform .5s;
        box-shadow: $shadow_menu;
        background-color: $light__green;

        .menu-link {
            margin-bottom: 10px;

            a {
                font-size: 22px;
            }

            & li:last-child {
                padding-right: 0;
            }

            &.active .sub-menu {
                display: flex;
                opacity: 1;
            }
        }

        .sub-menu {
            position: static;
            display: none;
            box-shadow: none;
            background-color: $light__green;

            .sub-link {
                &:first-child {
                    border-top: none;
                }

                &:hover {
                    border-bottom: 1px solid $color__main-hover-h3;
                }
            }
        }
    }

    .menu-arrow {
        display: none;
    }

    .cart {
        border: none;
        padding: 0;

        .cart__img {
            width: 46px;
            height: 46px;
            margin-right: 0;
        }

        p {
            display: none;
        }
    
        span {
            display: none;
        }
    }
}
 
@media (max-width: 640px) {
    .header__container {
        .header__nav-menu {
            width: 45%;
        }
    }
}

@media (max-width: 480px) {
    .header__container {
        padding: 5px 10px;

        .header__nav-menu {
            width: 35%;
        }
    }
}

@media (max-width: 414px) {
    .header__container {
        .header__nav-menu {
            width: 25%;
        }
    }
}

@media (max-width: 390px) {
    .header__container {
        margin: 5px 0;

        .header__nav-menu {
            width: 20%;
        }
    }
}