.rating {
    display: flex;
    align-items: center;
    line-height: 0.75;

    .rating__value {
        font-size: 20px;
        padding-left: 10px;
    }
}

.rating__body {
    position: relative;
    font-size: 26px;

    &::before {
        content: '★★★★★';
        display: block;
        color: #a3c1ad;
    }
}

.rating__active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
        content: '★★★★★';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #FFA858;
        cursor: pointer;
    }
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .rating__item {
        flex: 0 0 20%;
        height: 100%;
        opacity: 0;
    }
}